form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  input[type="text"] {
    width: 200px;
    height: 30px;
    margin: 10px;
    font-size: 18px;
    padding: 5px;
  }
  
  button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin: 10px;
  }
  
  #result {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
  }
  
  #result-value {
    font-weight: bold;
  }
form .img-z{
  float: left;
  width: 45%;
  col-lg-5;
  col-sm-12;

}
  